/* Dấu * là dùng để selector vào tất cả các phần tử trong trình duyệt */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  padding-top: 40px;
  padding-left: 20px;
  margin-top: 10px;
  border-width: 2px;
  border-color: orange;
  border-style: solid;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.abc {
  background-color: green;
  border: 4px dotted black;
}
